<div class="message">
    <h3 class="message-header">{{messageViewerCtrl.message.subject}}</h3>
    <hr>
    <div class="message-summary">

        
        <div class="sender"> From: {{messageViewerCtrl.message.from}}</div>
        <div> To: {{messageViewerCtrl.message.to}}</div>
        <div> 10/03/2016 12:00</div><!-- TODO date formatted with filter -->
        <div>
        <common-star entity="messageViewerCtrl.message"></common-star>
        <button class="btn" ng-click="">Reply</button>
        <button class="btn" ng-click="">Forward</button>
        <button class="btn" ng-click="">Delete</button>
        </div>
    </div>
    <div>
    <pre class="message-body">
        {{messageViewerCtrl.message.body}}
    </pre>
    </div>
    <!--
    <pre>{{message | json}}</pre>
    -->
</div>