<h3>{{ folderListCtrl.title }}</h3>
<ul class="nav nav-pills nav-stacked">
    <li  ng-repeat="folder in folderListCtrl.folders track by $index"
        ng-click="folderListCtrl.select(folder)">
            <div class="folder" ng-class="{ 'folder-selected': folder == folderListCtrl.currentFolder}">{{$index}} - {{folder}}</div>
    </li>
    <li class="folder" ng-if="folderListCtrl.allowCreate">
        <form class="form-inline">
        <input class="form-control" type="text" ng-model="newFolderName">
        <button ng-click="folderListCtrl.addFolder(newFolderName)">+</button>
        </form>
    </li>
</ul>
