body {
    font-family: sans-serif;
    margin: 0px; 
}

.page-container {

    display: flex; 
    flex-flow: column nowrap;
    /* border: 1px solid red; */
    height: 100%;

}

.page-center{
    flex: 3 auto;
    /* border: 1px solid red; */

}


.vertical-container {

    display: flex; 
    flex-flow: column wrap;
    /* border: 1px solid red; */


}


.horizontal-container {

    display: flex; 
    flex-flow: row wrap;
    
    /* border: 1px solid blue; */

    
}
.horizontal-center{
    flex: 3;
    /* border: 1px solid blue; */
}


header {
    background-color: lightblue;
    padding: 5px;
    min-height: 50px; 
}

footer {
    background-color: lightblue
}

.logo{

    padding-right: 20px;  
}

.folder-list {

    padding: 5px;
}

.page-left-menu
{
    background-color: lightgrey;
    padding-right: 10px;
}
.message-list {
    background-color: white;
    padding: 5px;
    
}

.message {
    padding: 2px;
}

.message-summary{
    
}

.message-body{
    border: solid gray 1px;
}

.message-list-odd{
    background-color: lightgrey;
}

.message-list-even{
    background-color: white;
}

.message-current {
    font-weight: bold;
}
.message-selected {
    background-color: yellow;
}

.star{
    color: grey;
}
.star-starred
{
    color: orange;
    font-weight: bold;  

}

.right-align {
    margin-left: auto;
}

.folder-selected {
    font-weight: bold;
    border-left: 3 px solid red;
}