<h3>TODO BIND TITLE - {{messageListCtrl.messages.length}} messages</h3>
<button class ="btn" ng-click="TODO">Prev <span class="glyphicon glyphicon-chevron-left"></span></button>
<button class="btn" ng-click="TODO">Next <span class="glyphicon glyphicon-chevron-right"></span></button>

<div ng-repeat="message in messageListCtrl.messages" 
    class="message" 

    ng-class="{'message-selected' : message.selected, 
               'message-list-odd' : $odd}">

    <div class="message-summary" 
         ng-class="{'message-current' : $index == messageListCtrl.currentMessageIndex}"
         ng-click="TODO"
         >
        <input type="checkbox" ng-model="message.selected">
        
        <common-star entity="message"></common-star>
        
        <span> {{$index}} From: {{message.from}}</span>
        <span> {{message.subject}}</span>
        <span class="align-right"> 10/03/2016 12:00</span>
    </div>
</div>