<div class="message">
    <h3 class="message-header">{{messageViewerCtrl.message.subject}}</h3>
    <hr>
    <div class="message-summary">

        
        <div> From: {{messageViewerCtrl.message.from}}</div>
        <div> To: {{messageViewerCtrl.message.to}}</div>
        <div> 10/03/2016 12:00</div><!-- TODO date formatted with filter -->
        
        <span class="star"> * </span>
        <button class="btn" ng-click="messageListCtrl.reply(message)">Reply</button>
        <button class="btn" ng-click="messageListCtrl.forward(message)">Forward</button>
        <button class="btn" ng-click="messageListCtrl.delete(message)">Delete</button>
    </div>
    
    <pre class="message-body">
        {{messageViewerCtrl.message.body}}
    </pre>
    <!--
    <pre>{{message | json}}</pre>
    -->
</div>